body{margin-top:20px;}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

#formTitle{
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  text-align: center;
  
}

#about{
  padding-left: 100px;
  padding-right: 100px;
}