<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <%- include ('./partials/header') %>
  </header>

  <main>
    <div class="containe-fluid" id="about">
      <h2 class="display-4">LaxNotes</h2>
      <p>LaxNotes is a CRUD app created using MongoDB, EJS, Express, and NodeJS. It is a simple note taking application,
        for when you have something simple to jot down. </p>
      <p>This app also uses Bootstrap 4.</p>
      <p>If you would like to see the github page for the code for this application, please click the github link at the
        top right of the page.</p>
    </div>
  </main>

  <footer>
    <%- include ('./partials/footer') %>
  </footer>
</body>

</html>